function Bullet.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 10
pop this 0
push constant 10
pop this 1
push constant 1
pop this 2
push constant 0
pop this 4
push constant 0
pop this 3
push argument 0
pop this 5
push pointer 0
return
function Bullet.isCrashed 0
push argument 0
pop pointer 0
push this 3
return
function Bullet.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Bullet.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Bullet.getCrashed 0
push argument 0
pop pointer 0
push this 0
push constant 5
lt
push this 0
push constant 505
gt
or
push this 1
push constant 6
lt
or
push this 1
push constant 250
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 3
label IF_FALSE0
push this 0
push this 5
call Monster.getX 1
push constant 10
add
gt
push this 0
push this 5
call Monster.getX 1
push constant 30
add
lt
and
push this 1
push this 5
call Monster.getY 1
push constant 10
add
gt
and
push this 1
push this 5
call Monster.getY 1
push constant 30
add
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 3
label IF_FALSE1
push constant 0
return
function Bullet.update 0
push argument 0
pop pointer 0
push pointer 0
call Bullet.erase 1
pop temp 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 2
sub
pop this 1
goto IF_END0
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
add
pop this 0
goto IF_END1
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 2
add
pop this 1
goto IF_END2
label IF_FALSE2
push this 0
push constant 2
sub
pop this 0
label IF_END2
label IF_END1
label IF_END0
push pointer 0
call Bullet.getCrashed 1
pop temp 0
push this 3
push constant 0
not
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Bullet.erase 1
pop temp 0
label IF_FALSE3
push pointer 0
call Bullet.draw 1
pop temp 0
push constant 0
return
function Bullet.init 0
push argument 0
pop pointer 0
push pointer 0
call Bullet.erase 1
pop temp 0
push argument 1
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
