function MarioDraws.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
not
pop this 0
push pointer 0
return
function MarioDraws.standingRight 1
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 32
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1920
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 966
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1830
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1830
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 6170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 2068
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 5068
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 4072
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 1920
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 1664
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 1216
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 1216
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 14464
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 14592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 12800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 14336
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 120
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 6384
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 6600
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 6600
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 6649
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 3579
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 3314
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 1539
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 120
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 103
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 200
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 200
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 120
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 28
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function MarioDraws.standingLeft 1
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 32
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 47
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 18
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 18
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 222
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 254
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 286
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 318
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 350
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 414
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 446
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 478
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 510
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 542
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 574
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 606
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 638
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 670
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 702
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 734
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 926
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 958
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 990
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1022
add
push constant 24576
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1054
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1086
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 1118
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1150
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 1182
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1278
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1310
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1342
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1374
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 1
sub
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 31
add
push constant 1816
call Memory.poke 2
pop temp 0
push local 0
push constant 63
add
push constant 2052
call Memory.poke 2
pop temp 0
push local 0
push constant 95
add
push constant 12410
call Memory.poke 2
pop temp 0
push local 0
push constant 127
add
push constant 16518
call Memory.poke 2
pop temp 0
push local 0
push constant 159
add
push constant 32509
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 191
add
push constant 32505
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 223
add
push constant 287
call Memory.poke 2
pop temp 0
push local 0
push constant 255
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 287
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 319
add
push constant 3087
call Memory.poke 2
pop temp 0
push local 0
push constant 351
add
push constant 4339
call Memory.poke 2
pop temp 0
push local 0
push constant 383
add
push constant 9991
call Memory.poke 2
pop temp 0
push local 0
push constant 415
add
push constant 30919
call Memory.poke 2
pop temp 0
push local 0
push constant 447
add
push constant 24380
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 479
add
push constant 28480
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
push constant 26432
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 543
add
push constant 30464
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 575
add
push constant 19072
call Memory.poke 2
pop temp 0
push local 0
push constant 607
add
push constant 12912
call Memory.poke 2
pop temp 0
push local 0
push constant 639
add
push constant 520
call Memory.poke 2
pop temp 0
push local 0
push constant 671
add
push constant 263
call Memory.poke 2
pop temp 0
push local 0
push constant 703
add
push constant 16256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 735
add
push constant 8288
call Memory.poke 2
pop temp 0
push local 0
push constant 767
add
push constant 1985
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 799
add
push constant 22488
call Memory.poke 2
pop temp 0
push local 0
push constant 831
add
push constant 30428
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 863
add
push constant 1170
call Memory.poke 2
pop temp 0
push local 0
push constant 895
add
push constant 5243
call Memory.poke 2
pop temp 0
push local 0
push constant 927
add
push constant 2875
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 959
add
push constant 5412
call Memory.poke 2
pop temp 0
push local 0
push constant 991
add
push constant 2578
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
add
push constant 2578
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
add
push constant 1313
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
add
push constant 31551
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
add
push constant 27647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
add
push constant 7170
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
add
push constant 6151
call Memory.poke 2
pop temp 0
push local 0
push constant 1215
add
push constant 2062
call Memory.poke 2
pop temp 0
push local 0
push constant 1247
add
push constant 975
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1279
add
push constant 31808
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1311
add
push constant 28736
call Memory.poke 2
pop temp 0
push local 0
push constant 1343
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 1375
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 1407
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1439
add
push constant 63
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1471
add
push constant 126
call Memory.poke 2
pop temp 0
push local 0
push constant 1503
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function MarioDraws.jumpRight 1
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 32
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 32
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 24576
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 6144
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1536
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32000
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16640
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 8640
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7712
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 12592
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 18480
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 3600
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 2480
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 4336
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 22944
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 13216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 2144
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 2112
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 32640
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 17152
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 32544
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 25072
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 5656
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 6156
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 2054
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 3090
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 1973
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 4203
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 4131
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 30723
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 250
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 2548
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 7176
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 32416
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 16032
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 16224
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 7968
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 64
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 16256
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 252
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 865
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 7656
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 14084
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 24828
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 32004
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 32380
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 16268
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 1012
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 250
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 14529
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 3632
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 28188
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 12749
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 560
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 29
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 32284
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 14840
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 2040
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 16400
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 16416
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 16352
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 5408
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 6849
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 3847
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 29189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 23076
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 31172
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 26868
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 26890
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 30987
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 28936
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 12528
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 12288
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 2047
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 511
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 6271
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 60
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 49
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 97
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 99
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 111
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 97
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 386
add
push constant 57
call Memory.poke 2
pop temp 0
push local 0
push constant 418
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 450
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 674
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 898
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 930
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 962
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 994
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 1026
add
push constant 208
call Memory.poke 2
pop temp 0
push local 0
push constant 1058
add
push constant 208
call Memory.poke 2
pop temp 0
push local 0
push constant 1090
add
push constant 208
call Memory.poke 2
pop temp 0
push local 0
push constant 1122
add
push constant 216
call Memory.poke 2
pop temp 0
push local 0
push constant 1154
add
push constant 104
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 104
call Memory.poke 2
pop temp 0
push local 0
push constant 1218
add
push constant 52
call Memory.poke 2
pop temp 0
push local 0
push constant 1250
add
push constant 29
call Memory.poke 2
pop temp 0
push local 0
push constant 1282
add
push constant 27
call Memory.poke 2
pop temp 0
push local 0
push constant 1314
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1346
add
push constant 15
call Memory.poke 2
pop temp 0
push constant 0
return
function MarioDraws.jumpLeft 1
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 32
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 16128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 7808
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31040
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 6215
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8428
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8441
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8382
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8577
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 11779
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 12351
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 24831
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31972
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3184
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 14454
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 13197
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3136
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 1024
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 18432
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 10113
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 4195
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 4127
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 2050
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 1026
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 2044
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 1192
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 31912
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 7952
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 8271
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 9306
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 9118
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 12054
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 20630
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 12130
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 4238
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 3852
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 32737
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 32641
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 32281
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 6
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 12
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 96
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 193
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 130
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 900
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 1927
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 3212
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 3090
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 2160
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 3472
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 3848
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 1637
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 1587
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 1552
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 528
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 510
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 194
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 1793
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 3974
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 6248
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 12312
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 24592
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 18480
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 11745
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 10744
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 15352
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 16354
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 24831
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 12399
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 1665
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 1667
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 1283
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 1799
call Memory.poke 2
pop temp 0
push local 0
push constant 1473
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1505
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 1122
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1154
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1218
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 127
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 159
add
push constant 15360
call Memory.poke 2
pop temp 0
push local 0
push constant 191
add
push constant 29696
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 223
add
push constant 31232
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 255
add
push constant 14848
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 287
add
push constant 2560
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 319
add
push constant 31232
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 351
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 383
add
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 415
add
push constant 30720
call Memory.poke 2
pop temp 0
push local 0
push constant 447
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 479
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 543
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 575
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 607
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 639
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 671
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 895
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 927
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 959
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 991
add
push constant 3584
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
add
push constant 2816
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
add
push constant 2816
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
add
push constant 2816
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
add
push constant 6912
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
add
push constant 5632
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
add
push constant 5632
call Memory.poke 2
pop temp 0
push local 0
push constant 1215
add
push constant 11264
call Memory.poke 2
pop temp 0
push local 0
push constant 1247
add
push constant 18432
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1279
add
push constant 10240
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1311
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1343
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function MarioDraws.erase 1
push argument 0
pop pointer 0
push constant 16384
push argument 2
push constant 32
call Math.multiply 2
add
push argument 1
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1473
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1505
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 2
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 34
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 66
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 98
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 130
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 162
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 194
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 226
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 258
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 290
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 322
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 354
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 386
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 418
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 450
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 482
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 610
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 642
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 674
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 706
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 738
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 770
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 802
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 834
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 866
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 898
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 930
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 962
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 994
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1026
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1058
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1090
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1122
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1154
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1218
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1250
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1282
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1314
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1346
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1378
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1410
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1442
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1474
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1506
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
