function Monster.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push constant 10
pop this 9
push constant 22
pop this 0
push constant 90
pop this 1
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push constant 4
pop this 7
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 3
call MonsterSprites.new 0
pop this 2
push this 2
push this 8
call MonsterSprites.draw_MOVE_LEFT 2
pop temp 0
push pointer 0
return
function Monster.getX 0
push argument 0
pop pointer 0
push this 0
return
function Monster.getY 0
push argument 0
pop pointer 0
push this 1
return
function Monster.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Monster.takeDamage 0
push argument 0
pop pointer 0
push this 9
push constant 1
sub
pop this 9
push constant 0
return
function Monster.location 0
push argument 0
pop pointer 0
push argument 2
push constant 32
call Math.multiply 2
push argument 1
add
return
function Monster.moveDown 0
push argument 0
pop pointer 0
push this 1
push constant 48
add
push constant 255
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push this 2
push this 8
call MonsterSprites.draw_ERASE 2
pop temp 0
push this 1
push constant 10
add
pop this 1
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push this 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push this 8
call MonsterSprites.draw_MOVE_RIGHT 2
pop temp 0
goto IF_END1
label IF_FALSE1
push this 2
push this 8
call MonsterSprites.draw_MOVE_LEFT 2
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Monster.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 5
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push this 2
push this 8
call MonsterSprites.draw_ERASE 2
pop temp 0
push this 1
push constant 10
sub
pop this 1
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push this 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push this 8
call MonsterSprites.draw_MOVE_RIGHT 2
pop temp 0
goto IF_END1
label IF_FALSE1
push this 2
push this 8
call MonsterSprites.draw_MOVE_LEFT 2
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Monster.moveRigth 0
push argument 0
pop pointer 0
push this 0
push constant 29
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push this 2
push this 8
call MonsterSprites.draw_ERASE 2
pop temp 0
push this 0
push constant 3
add
pop this 0
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push pointer 0
push constant 0
not
call Monster.setDirection 2
pop temp 0
push this 2
push this 8
call MonsterSprites.draw_MOVE_RIGHT 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Monster.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push this 2
push this 8
call MonsterSprites.draw_ERASE 2
pop temp 0
push this 0
push constant 3
sub
pop this 0
push pointer 0
push this 0
push this 1
call Monster.location 3
pop this 8
push pointer 0
push constant 0
call Monster.setDirection 2
pop temp 0
push this 2
push this 8
call MonsterSprites.draw_MOVE_LEFT 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Monster.attack 0
push argument 0
pop pointer 0
push this 4
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 4
goto IF_END1
label IF_FALSE1
push pointer 0
call Monster.moveLeft 1
pop temp 0
label IF_END1
goto IF_END0
label IF_FALSE0
push this 0
push constant 22
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 4
push constant 0
not
pop this 5
push constant 0
pop this 6
goto IF_END2
label IF_FALSE2
push pointer 0
call Monster.moveRigth 1
pop temp 0
label IF_END2
label IF_END0
push constant 0
return
function Monster.goUp 0
push argument 0
pop pointer 0
push this 6
not
push this 5
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 20
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 6
goto IF_END1
label IF_FALSE1
push pointer 0
call Monster.moveUp 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Monster.goUpBack 0
push argument 0
pop pointer 0
push this 6
not
push this 5
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 90
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 5
push constant 0
push constant 4
call LCGRandom.randRange 2
pop this 7
goto IF_END1
label IF_FALSE1
push pointer 0
call Monster.moveDown 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Monster.goDown 0
push argument 0
pop pointer 0
push this 6
not
push this 5
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 160
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 6
goto IF_END1
label IF_FALSE1
push pointer 0
call Monster.moveDown 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Monster.goDownBack 0
push argument 0
pop pointer 0
push this 6
not
push this 5
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 90
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 5
push constant 0
push constant 4
call LCGRandom.randRange 2
pop this 7
goto IF_END1
label IF_FALSE1
push pointer 0
call Monster.moveUp 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Monster.init 0
push argument 0
pop pointer 0
push this 7
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Monster.goUp 1
pop temp 0
push this 6
push constant 0
not
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 6
push constant 0
not
pop this 5
label IF_FALSE1
push pointer 0
call Monster.goUpBack 1
pop temp 0
label IF_FALSE0
push this 7
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Monster.goDown 1
pop temp 0
push this 6
push constant 0
not
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop this 6
push constant 0
not
pop this 5
label IF_FALSE3
push pointer 0
call Monster.goDownBack 1
pop temp 0
label IF_FALSE2
push this 7
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Monster.goUp 1
pop temp 0
push this 6
push constant 0
not
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Monster.attack 1
pop temp 0
label IF_FALSE5
push pointer 0
call Monster.goUpBack 1
pop temp 0
label IF_FALSE4
push this 7
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Monster.attack 1
pop temp 0
push this 0
push constant 22
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
push constant 4
call LCGRandom.randRange 2
pop this 7
label IF_FALSE7
label IF_FALSE6
push this 7
push constant 4
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call Monster.goDown 1
pop temp 0
push this 6
push constant 0
not
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
call Monster.attack 1
pop temp 0
label IF_FALSE9
push pointer 0
call Monster.goDownBack 1
pop temp 0
label IF_FALSE8
push constant 0
return
function Monster.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
